// Body
// $body-bg: #f8fafc;
// $body-color: #f8fafc;

// Typography
// font-family: 'Luckiest Guy', cursive;
// font-family: 'Open Sans', sans-serif;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colors custom
// ...

// Options
$enable-caret: false;
$enable-shadows: true;
$enable-gradients: true;
$enable-validation-icons: false;

// Links
$link-hover-decoration: none;

// Modals
$modal-fade-transform: scale(0.8);

// Spinners
$spinner-width: 2rem;
$spinner-border-width: 1px;
$spinner-width-sm: 1rem;
$spinner-border-width-sm: 1px;
