// Body
$body-bg: #1a202c;
$body-color: #f8f9fa;

// Global =============================================================================================================
@import "global";

// Navbar =============================================================================================================
// dropdowns
.dropdown-item {
    transition: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: $light;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background: #e9ecef linear-gradient(180deg, #eceff1, #e9ecef) repeat-x;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background: $success linear-gradient(180deg, #55ca87, $success) repeat-x;
}
